# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/

# environment
.env
.env.local
.env.*.local

# turbo
.turbo/

# testing
coverage/

# misc
*.tsbuildinfo
.DS_Store
*.log

# vercel
.vercel/
